<footer class="w-full h-auto py-6 md:py-10 bg-slate-800 border-t-2 border-t-slate-600 flex items-center justify-center">
    <div class="w-full px-4 md:w-4/5 h-full flex flex-col md:flex-row items-center md:items-center justify-center md:justify-between gap-6 md:gap-0">
        <div class="flex flex-col items-center md:items-start justify-center gap-4 md:gap-6">
            <h2 class="text-blue-100 text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-spectral">SIGP</h2>
            <p class="text-blue-100 text-xs sm:text-sm md:text-base text-center md:text-left">Sistema de Identificación de Grupos Pandilleriles</p>
            <a href="" class="text-blue-100 hover:text-blue-300 transition-all duration-300 text-xs sm:text-sm">contacto@sigp.com.mx</a>
        </div>
        <div class="flex flex-col items-center md:items-end justify-center gap-4 md:gap-6">
            <div class="flex flex-col items-center md:items-end justify-center gap-3 md:gap-4">
                <p class="text-blue-100 text-xs sm:text-sm font-semibold mb-1">Ayuda</p>
                <div class="flex flex-col sm:flex-row items-center justify-center md:justify-end gap-3 sm:gap-4 md:gap-6 text-xs sm:text-sm">
                    <a href="ayuda.html" data-page="ayuda" class="text-blue-100 hover:text-blue-300 transition-all duration-300">
                        Preguntas frecuentes
                    </a>
                    <a href="ayuda.html" data-page="ayuda" class="text-blue-100 hover:text-blue-300 transition-all duration-300">
                        Solicitud de ayuda
                    </a>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row items-center justify-center md:justify-end gap-3 sm:gap-4 md:gap-6 text-xs sm:text-sm">
                <a href="acerca_de_nosotros.html" data-page="acerca_de_nosotros" class="text-blue-100 hover:text-blue-300 transition-all duration-300">
                    Acerca de nosotros
                </a>
                <a href="politica_privacidad.html" data-page="politica_privacidad" class="text-blue-100 hover:text-blue-300 transition-all duration-300">
                    Política de privacidad
                </a>
            </div>
            <div class="flex items-center justify-center md:justify-end text-xs sm:text-sm">
                <p class="text-blue-100 text-center md:text-right">© 2025, SIGP – Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>   