<!-- Componente de Filtros del Mapa -->
<div class="w-full h-full flex flex-col items-start justify-between py-10 overflow-y-auto">
    <!-- Selector de Zona -->
    <div class="w-full h-auto flex flex-col items-start justify-center py-4">
        <label for="zona-select" class="w-full text-left text-sm md:text-base text-white mb-2">Zona:</label>
        <div class="relative w-full">
            <select id="zona-select" name="zona" class="w-full h-[45px] md:h-[50px] rounded-lg bg-white text-slate-950 py-3 md:py-4 px-3 md:px-4 pr-10 outline-0 focus:outline-2 focus:outline-blue-600 transition-all duration-300 text-sm md:text-base appearance-none">
                <option value="" disabled selected>Selecciona zona</option>
            </select>
            <div class="absolute right-3 top-1/2 transform -translate-y-1/2 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-slate-950">
                    <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                </svg>
            </div>
        </div>
    </div>
    
    <!-- Selector de Grado de Peligrosidad -->
    <div class="w-full h-auto flex flex-col items-start justify-center py-4">
        <label for="peligrosidad-select" class="w-full text-left text-sm md:text-base text-white mb-2">Grado de peligrosidad:</label>
        <div class="relative w-full">
            <select id="peligrosidad-select" name="peligrosidad" class="w-full h-[45px] md:h-[50px] rounded-lg bg-white text-slate-950 py-3 md:py-4 px-3 md:px-4 pr-10 outline-0 focus:outline-2 focus:outline-blue-600 transition-all duration-300 text-sm md:text-base appearance-none">
                <option value="" disabled selected>Selecciona la peligrosidad</option>
            </select>
            <div class="absolute right-3 top-1/2 transform -translate-y-1/2 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-slate-950">
                    <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                </svg>
            </div>
        </div>
    </div>
    
    <!-- Selector de Delito -->
    <div class="w-full h-auto flex flex-col items-start justify-center py-4">
        <label for="delito-select" class="w-full text-left text-sm md:text-base text-white mb-2">Delito:</label>
        <div class="relative w-full">
            <select id="delito-select" name="delito" class="w-full h-[45px] md:h-[50px] rounded-lg bg-white text-slate-950 py-3 md:py-4 px-3 md:px-4 pr-10 outline-0 focus:outline-2 focus:outline-blue-600 transition-all duration-300 text-sm md:text-base appearance-none">
                <option value="" disabled selected>Selecciona el delito</option>
            </select>
            <div class="absolute right-3 top-1/2 transform -translate-y-1/2 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-slate-950">
                    <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
                </svg>
            </div>
        </div>
    </div>
    
    <!-- Botón Activar mapa de calor -->
    <div class="w-full h-auto flex flex-col items-center justify-center py-4">
        <button type="button" id="heatmap-btn" class="w-full h-[45px] md:h-[50px] rounded-lg bg-blue-400 text-white text-base md:text-lg font-medium flex items-center justify-center hover:bg-blue-600 transition-all duration-150 hover:cursor-pointer">Activar mapa de calor</button>
    </div>
</div>

